.project {
    display: grid;
    justify-content: center;
    padding: 40px 50px 0 50px;
    height: auto;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}

.project-title {
    font-size: 1.3rem;
    padding: 10px 0;
    color: rgb(225, 29, 72);
}

.project__container {
    display: flex;
    padding: 0 5px;
}

.project__right, .project__left {
display: flex;
flex-direction: column;
height: auto;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
padding: 40px;
}

.project__left {
    display: flex;
    justify-content: center;
}

.project__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
    cursor: pointer;
}


@media  screen and (max-width: 780px) { 
.project {
    display: grid; 
}

.project__container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
}

.project-title, ul, p {
    text-align: center;
}

.project__right, .project__left {
    padding: 20px 40px;
    width: 80vw;
    }
}