.navbar {
    background-image: url("https://wallpapercave.com/wp/wp2747987.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100px;
}
  
.nav__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    width: 100%;
    height: 100vh;
    color: white;
}
  
.nav-links {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
  
.nav-name {
    color: #fff;
}
  
.role {
    border-bottom: 1px solid rgb(225, 29, 72);
    border-bottom-width: 50%;
    padding-bottom: 5px;
}
  
.link {
    margin-bottom: 2px;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.link::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(225 29 72);;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scalex(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.link:hover::after {
    transform: scaleX(1);
    
}
  
.home__btn {
        display: flex;
        align-items: center;
        background-color: rgba(225, 29, 72, 0.1);
        padding: 0 10px; 
        border-radius: 5px;
}
  
.home__mobile__btn {
        display: none;
}
  
.mobile-icons {
    display: none;
}
  
@media  screen and (max-width: 820px) {
.navbar {
        background-image: url("https://wallpapercave.com/wp/wp2747987.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
   
.nav__intro {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
}
  
.nav-links{
        display: none;
}

.home__btn {
        display: none;
}

.home__mobile__btn {
        display: contents;
}
  
.navbar-mobile-title {
        font-size: 2rem;
}
  
    .mobile-icons {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        color: rgb(225, 29, 72);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        position: fixed;
        right: 0;
        z-index: 100;
    }
  
.mobile-icons:hover {
        color: rgba(225, 29, 72, 0.5);
}
  
.nav-links-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: fixed;
        font-size: 1.5rem;
        top: 72px;
        left: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: 100;
       
}
  
.socials__icons {
        padding-top: 20px;
        padding-left: 20px;
}

}
 